{{#if currentUser}}
<div class="min-h-full">
  <main class="py-10">
    <div class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
      <div class="flex items-center space-x-5">
        <div class="flex-shrink-0">
          <div class="relative">
            <img class="h-16 w-16 rounded-full" src="{{currentUser.imageUrl}}" alt="{{currentUser.imageUrl}}" />
            <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
          </div>
        </div>
        <div>
          <h1 class="text-2xl font-bold text-gray-900">{{currentUser.username}}</h1>
          <p class="text-sm font-medium text-gray-500">{{currentUser.email}}
          </p>
        </div>
      </div>
    </div>
    <div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
      <div class="space-y-6 lg:col-start-1 lg:col-span-2">
        <!-- Description list-->
        <section aria-labelledby="applicant-information-title">
          <div class="bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h2 id="applicant-information-title" class="text-xl leading-6 font-medium text-gray-900">
                Información
              </h2>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Detalles personales
              </p>
            </div>
            <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
              <section aria-labelledby="timeline-title" class="lg:col-start-3 lg:col-span-1">
                {{#if isOwner}}
                <h2 id="timeline-title" class="text-md font-medium text-gray-900">Tus Perritos a la espera de adopción</h2>
                {{#each myDogs}}
                <h3>
                  {{this.name}}
                </h3>
                {{/each}}


                {{else}}
                <h2 id="timeline-title" class="text-md leading-6 font-normal text-gray-900">Aún no tienes perritos registrados</h2>
                <button type="button" class="mt-5 inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                  <a href="/dogs/createDog">Registra un perrito</a>
                </button>

                {{/if}}

              </section>
            </div>

          </div>
        </section>
      </div>

    </div>
  </main>
</div>

{{/if}}