{{#with getDog}}
<div class="bg-yellow-50 bg-opacity-25">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:gap-x-8 lg:items-start">
      <!-- Image gallery -->
      <div class="flex flex-col-reverse">
        <!-- Image selector -->
        <div class="hidden mt-6 w-full max-w-2xl mx-auto sm:block lg:max-w-none">
          <div class="grid grid-cols-4 gap-6" aria-orientation="horizontal" role="tablist">


            <!-- More images... -->
          </div>
        </div>

        <div class="w-full aspect-w-1 aspect-h-1">
          <!-- Tab panel, show/hide based on tab state. -->
          <div id="tabs-1-panel-1" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
            <img src="{{this.image}}" alt="Angled front view with bag zipped and handles upright." class="w-full h-full object-center object-cover sm:rounded-lg" />
          </div>

          <!-- More images... -->
        </div>
      </div>

      <!-- Product info -->
      <div class="mt-10 px-4 sm:px-0 sm:mt-16 lg:mt-0">
        <h1 class="text-3xl font-extrabold tracking-tight text-blue-900">{{this.name}}</h1>

        <div class="mt-3">
          <p class="text-2xl text-yellow-500">Edad: {{this.age}}</p>
        </div>

        <div class="mt-6">
          <h3 class="sr-only">Description</h3>

          <div class="text-base text-gray-600 space-y-6">
            <p>{{this.description}}</p>
          </div>
        </div>

        <form class="mt-6">

          <div class="mt-10 flex sm:flex-col1">
            <button type="submit" class="max-w-xs flex-1 bg-red-700 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500 sm:w-full">
              <a href="/dogs/{{this._id}}/adopt">Quiero adoptarlo</a>
            </button>
          </div>
        </form>

        <section aria-labelledby="details-heading" class="mt-12">
          <h2 id="details-heading" class="sr-only">Additional details</h2>

          <div class="border-t divide-y divide-gray-200">
            <div>
              <h3>
                <!-- Expand/collapse question button -->
                <button type="button" class="group relative w-full py-6 flex justify-between items-center text-left" aria-controls="disclosure-1" aria-expanded="false">
                  <!-- Open: "text-indigo-600", Closed: "text-gray-900" -->
                  <span class="text-green-800 text-xl font-bold">
                    Detalles
                  </span>
                </button>
              </h3>
              <div class="pb-6 prose prose-sm text-blue-900" id="disclosure-1">
                <ul>
                  <li><b>Dato curioso:</b> {{this.funFact}}</li>
                  <li><b>Talla: </b>{{this.size}}</li>
                  <li><b>Sexo: </b>{{this.sexo}}</li>
                  <li><b>Datos de contacto </b>{{this.informes}}</li>
                </ul>
              </div>
            </div>
            {{!-- Validar que sea el owner para editar/borrar el perrito--}}
            {{/with}}
            {{#if isOwner}}
            {{#with getDog}}
            <a href="/dogs/{{this._id}}/editDog">Editar perrito</a>
            <form method="POST" action="/dogs/{{this._id}}/deleteDog">
              <button>Borrar perrito</button>
            </form>
            {{/with}}
            {{/if}}
          </div>
        </section>
      </div>
    </div>
  </div>
</div>